<div class="content">
    <mat-cad-title>Cursos</mat-cad-title>
    <mat-card-subtitle>Cadastrar Curso</mat-card-subtitle>
    <mat-divider></mat-divider>
    <br>

    <div>
    <mat-form-field appearance="outline">
        <mat-label>Nome do Curso</mat-label>
        <input matInput placeholder="Digite o Nome curso" id="nomecurso" required [(ngModelL)] = "curso.nomecurso" nome="nomecurso">
        <mat-icon matSuffix>et</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
   </div>
   
   <div>
       <span class= "bt" (click)="Salvar()">
           <img class="img-btn" src="assets/img/check_box.png"> Salvar
       </span>
       <span class="bt" (click)="Cancelar">
            <img class="img-btn" src="assets/img/check_box.png"> Cancelar
       </span>
   </div>
</div>
