<p>home works!</p>
<div class="content">
    <mat-card-title>
         Cursos
    </mat-card-title>
    <br>
            <mat-card-subtitle>
                Lista dos Cursos
            </mat-card-subtitle>
            <mat-divider></mat-divider>
    <br>
    <div> clas="button">
    <span>
        <img class="bt" (click)="navigateToCursoNovo()">

        <img class= "img-btn" src= "assts/img/sistema-escolar.png"> Novo Curso
    </span>
    <mat-form-field appearance="outline">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="filtrarcursos($event)">
    </p>
    <br><br>
    <div class="mat-elevation-z1">
        <table mat-table [dataSource]="cursoDataSource" matsort class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="idcursos">
              <th mat-header-cell *matHeaderCellDef> Id. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="nomecurso">
              <th mat-header-cell *matHeaderCellDef> nome</th>
              <td mat-cell *matCellDef="let curso"> {{curso.idcurso}} </td>
            </ng-container>

            
            <!-- Position Column -->
            <ng-container matColumnDef="update">
                <th mat-header-cell *matHeaderCellDef> Id. </th>
                <td mat-cell *matCellDef="let element"> 
                    
                </td>
              </ng-container>

              <button mat-fab color="Update"(click)="navigateToCursoEditar(curso)">
                <mat-icon class= "mat-18> edit </mat-icon>
              </button>
            
              <!-- Name Column -->
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> nome</th>
                <td mat-cell *matCellDef="let curso"> 
                    
                </td>
              </ng-container>
          
              <button mat-fab color="delete"(click)="deelte(Curso)">
                <mat-icon> delete </mat-icon>
              </button>
          
              <tr class="mat-row" *matNowDataRow>
                  <td cotspan-"4" class="mat-cell"> Nenhum dado Correspondente ao filtro" {{input.value}}</td>
              </tr>
            <tr mat-header-row *matHeaderRowDef="displayedidCursos"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event"
               aria-label="Select page">
</mat-paginator>
    </div>
</div>
