.container{
    position: absolute;
    top: 0px;
    bottom: 30px;
    left: 0px;
    right: 0px;
    background-color: white;

}

.header{
    position: fixed;
    top: 0;
    left: 0;
    height: 64px;
    right: 0;
    color: white;
    background: #048c4e;

}

.logo{
    max-height: 64;
}

.sidenav{
    position:fixed
    top: 64;
    left: 0;
    right: 0;
    width: 200px;
    bottom: 30px;
    background-color: #252F36;
    color: white;

}

.nav-list{
    padding-left: 10px;
    vertical-align: text-top;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    color: white;
    background: #048c4e;
}